<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shoppingWeb</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servletAction.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>D_Login</servlet-name>
    <servlet-class>action.D_LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>D_FindGoods</servlet-name>
    <servlet-class>action.D_FindGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>D_ToPriceAndReview</servlet-name>
    <servlet-class>action.D_ToPriceAndReview</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>D_OrdersServlet</servlet-name>
    <servlet-class>action.D_OrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>servletAction.ShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>servletAction.DetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servletAction.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>servletAction.PayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>servletAction.OrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>servletAction.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>servletAction.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCarDelete</servlet-name>
    <servlet-class>servletAction.ShoppingCarDelete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingCarPayServlet</servlet-name>
    <servlet-class>servletAction.ShoppingCarPayServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>servletAction.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>servletAction.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>servletAction.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeletingUserServlet</servlet-name>
    <servlet-class>servletAction.DeletingUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackStageServlet</servlet-name>
    <servlet-class>servletAction.BackStageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servletAction.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindGoodsServlet</servlet-name>
    <servlet-class>servletAction.FindGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToShoppingCarServlet</servlet-name>
    <servlet-class>servletAction.ToShoppingCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToOrdersServlet</servlet-name>
    <servlet-class>servletAction.ToOrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servletAction.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToGoodsServlet</servlet-name>
    <servlet-class>servletAction.ToGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>D_Login</servlet-name>
    <url-pattern>/servlet/D_Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/servlet/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/servlet/DetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/servlet/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/servlet/OrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/servlet/OrderDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/servlet/ShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCarDelete</servlet-name>
    <url-pattern>/servlet/ShoppingCarDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCarPayServlet</servlet-name>
    <url-pattern>/servlet/ShoppingCarPayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/servlet/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/servlet/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/servlet/UpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletingUserServlet</servlet-name>
    <url-pattern>/servlet/DeletingUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackStageServlet</servlet-name>
    <url-pattern>/servlet/BackStageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/servlet/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindGoodsServlet</servlet-name>
    <url-pattern>/servlet/FindGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToShoppingCarServlet</servlet-name>
    <url-pattern>/servlet/ToShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToOrdersServlet</servlet-name>
    <url-pattern>/servlet/ToOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToGoodsServlet</servlet-name>
    <url-pattern>/servlet/ToGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>D_ToPriceAndReview</servlet-name>
    <url-pattern>/servlet/D_ToPriceAndReview</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>D_FindGoods</servlet-name>
    <url-pattern>/servlet/D_FindGoodsServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>D_OrdersServlet</servlet-name>
    <url-pattern>/servlet/D_OrdersServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>servletAction.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>